/*Footer
------------------------------------*/
.footer .footer-inner {
	padding: 40px 0;	
	background: #272727;
}

.footer .footer-inner p {
	color: #eee;
}

.footer .footer-inner h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer .link-list li {
	border-top: solid 1px #353535;
}

.footer address,
.footer .link-list a,
.footer .link-list i {
	color: #eee;
}

.footer address {
	line-height: 23px;
}


/*Copyright*/
.footer .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

.footer .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer .copyright a {
	margin: 0 2px;
}

.footer #menu-footer li{
	border-right: solid 1px #fff;
}

.footer #menu-footer li:last-child{
	border-right: none;
}